<h1>Sudoku With The Stars</h1>
<div id="flash">
  <%= flash[:notice] %>
</div>
<form id="hard_game" action="/new_game/55'" method="get">
<button class="button">New hard game</button>
</form>
<form id="easy_game" action="/new_game/35'" method="get">
<button class="button">New easy game</button>
</form>
<form id="show_solution" action="/solution" method="get">
<button class="button">Show solution</button>
</form>
<form id="help" action="/help" method="get">
<button class="button">Help</button>
</form>
<div id="sudoku">
  <form id="check_solution" action="/" method="post">
  <!-- one div for each row -->
  <% 3.times do |row| %>
    <div class='row'>
        <!-- we want to create separate div elements for boxes to style them using CSS -->
      <% 3.times do |box| %>
          <div class="box">
         <!-- each box will have nine cells -->
         <% 3.times do |cell_row| %>
              <div class="cell-row">
             <% 3.times do |cell| %>
                    <!-- every cell will have an input field -->
                    <%= partial :cell, :locals=>{ cell_index: row*27+box*3+cell_row*9+cell} %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div>
      <button class="button">Check solution</button>
      </form>
      <form id="restart" action="/restart" method="get">
			<button class="button">Reset Current Game</button>
			</form>
    </div>
  </div>


